@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fontsource/roboto-condensed';

.active_arrow {
    color: blue;
}
.disabled_arrow {
    color: grey;
}
.vote-arrows .btn:focus{
    box-shadow: none !important;
}

/*.card_preview_post_homepage {*/
/*    height: 250px !important;*/
/*    box-shadow: 2px 3px 9px 4px rgb(0 0 0 / 4%);*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*}*/

/*.container_content_hmp{*/
/*    height: 154px;*/
/*    overflow: hidden;*/
/*}*/