@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fontsource/roboto-condensed';

body { height: 100%; width: 100%; margin: 0; }

.active_arrow {
    color: blue;
}
.disabled_arrow {
    color: grey;
}
.vote-arrows .btn:focus{
    box-shadow: none !important;
}

.answer-vote i{
    color: grey;
}

p[id^="activity-details"]{
    text-transform: capitalize;
}

.city-location:hover, .activity-name-p:hover{
    cursor: pointer;
    color: blue;
}

.modal-content{
    height: 70vh;
}
.modal-body{
    overflow-y: scroll;
}

.css-p-generated{
    font-size: 15px;
}

#modal-title{
    margin: 0;
    line-height: 13px;
}
#modal-title p{
    margin: 0 !important;
}

.css-p-generated span{
    color: blue;
    font-size: 18px;
    text-transform: capitalize;
}

.cities-listing > div > img,
.activities-list > div > img{
    object-fit: cover;
    cursor: pointer;
    color: blue;
}
.cities-listing > div,
.activities-list > div{
    width: 50%;
    display: grid;
    justify-content: center;
    text-align: center;
}
.cities-listing, .activities-list{
    flex-wrap: wrap;
    display: inline-flex;
}

.title-text-post{
    background: #ffecff;
    border:none;
    width: 100%;
    box-shadow: 0 0 3.5px #b7b7b7;
    height: 40px;
    padding-left: 20px;
}