@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fontsource/roboto-condensed';

.active_arrow {
    color: blue;
}
.disabled_arrow {
    color: grey;
}
.vote-arrows .btn:focus{
    box-shadow: none !important;
}

.answer-vote i{
    color: grey;
}

p[id^="activity-details"]{
    text-transform: capitalize;
}

.city-location:hover, .activity-name-p:hover{
    cursor: pointer;
    color: blue;
}

.activities-list, .modal-body{
    height: 45vw;
}
.modal-body{
    overflow-y: scroll;
}

.css-p-generated{
    font-size: 15px;
}

#modal-title{
    margin: 0;
    line-height: 13px;
}
#modal-title p{
    margin: 0 !important;
}

.css-p-generated span{
    color: blue;
    font-size: 18px;
    text-transform: capitalize;
}
/*.card_preview_post_homepage {*/
/*    height: 250px !important;*/
/*    box-shadow: 2px 3px 9px 4px rgb(0 0 0 / 4%);*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*}*/

/*.container_content_hmp{*/
/*    height: 154px;*/
/*    overflow: hidden;*/
/*}*/