{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        <li class="nav-item">
            <a class="nav-link" href="#">Calculator Ruta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Inchiriaza o Camera</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Social Network</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Create a Tour for your WebSite</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Trip Designer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Automatic Tags</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Convert a Photo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Newsletter</a>
        </li>
    </ul>
    <div class="container">
        <p>
            trip designer:

            calendar and map sync

            Book a taxi and see route and sync with Calendar

            create a card that appear on Map relationated with history list of trips

            Make a Summary

            Datepicker && Clockpicker

            Search and Join Activity




            Social Network:

            generate a demo user

            sorting what to load and export pdf func (Upload Docs && Avatar pics) and Dimension restriction

            in social network filter by family or single etc

            Search User by filters

            Match button?? Am I capable to do that?

            Create a membership?


            Auto-scripts:

            check if video list are still available

            automatic tags




            E-Commerce:

            Luxury Shop

            Automatic invoice system??
        </p>
    </div>


{% endblock %}

